.App {
  text-align: center;
  
  
}

.App h1{
  background-color: #4CAF50;
}



/* Estilo para o body */
/* Estilo para o body */
body {
  background-color: #f9f9f9; /* Cor de fundo similar à do card */
  background: linear-gradient(135deg, #f9f9f9 0%, #282c34 100%); /* Gradiente suave */
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Estilo para o card */
.track {
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 10px #282c34 100;
  width: 300px;
  display: inline-block; /* Exibir em colunas */
  vertical-align: top; /* Alinhar ao topo */
  text-align: center;
  color: white;
}

/* Estilo para a imagem dentro do card */
.track img {
  width: 100%;
  border-radius: 5px;
}

/* Estilo para o título do card */
.track .track-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif; /* Nova fonte */
  color: #b8b4b4; /* Cor mais neutra */
  transition: color 0.3s ease; /* Transição suave da cor */
}

.track .track-name:hover {
  color: #ff4081; /* Cor ao passar o mouse */
}

/* Estilo para o nome do artista */
.track .track-artist {
  font-size: 1em;
  margin-top: 10px; /* Espaçamento adicional */
  color: #a7b6a7;
}

/* Estilo para o player do Spotify */
.track .track-player {
  margin-top: 10px;
}

/* Estilo para o botão "Ver mais" */
.track .track-player a {
  color: #4CAF50;
  text-decoration: none;
  font-size: 0.9em;
  border-bottom: 1px solid transparent; /* Adicionando uma borda inferior transparente */
  transition: border-bottom 0.3s ease; /* Transição suave da borda */
}

.track .track-player a:hover {
  border-bottom: 1px solid #1db954; /* Efeito de borda ao passar o mouse */
}

/* Estilo para o título "Spotify React" */
/* Estilo para o título "Spotify React" */
h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f9f9f9; /* Azul suave */
  border-bottom: 2px solid #ccc
}

/* Estilo para o link de login */
a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1976D2; /* Azul suave */
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

a:hover {
  background-color: #1565C0; /* Cor ao passar o mouse */
}

/* Estilo para o botão "Logout" */
button {
  padding: 10px 20px;
  margin-top: 10px; /* Adicionando margem à esquerda para evitar sobreposição */
  border: none;
  border-radius: 5px;
  background-color: #282c34; /* Rosa suave */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

button:hover {
  background-color: #D81B60; /* Cor ao passar o mouse */
}

/* Estilo para o campo de pesquisa e botão de busca */
input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #1db954; /* Verde suave */
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  margin-left: 10px;
}

button[type="submit"]:hover {
  background-color: #17A248; /* Cor ao passar o mouse */
}


/* Estilo para o título "Resultados para sua pesquisa" */
h2 {
  font-size: 2.8em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #282c34 /* Azul suave */
}

.linha-espaço {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc; /* Adicionando uma linha como separador */
  padding-bottom: 5px; /* Espaçamento para a borda */
  width: 100%; /* Garantindo que a linha tenha 100% de largura */
  text-align: center; /* Alinhando a linha no centro */
}




